*{
  margin: 0;
  padding: 0;
}
#cont3:hover {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
img:hover {
  transform: scale(1.1);
}
#cont3 > div > img:hover {
  transform: scale(0.8);
}
#cont5 > div:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}
#cont2 > div > div:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}
body {
  text-shadow: #fc0 0.2px 0 0.5px;
}
button:hover {
  background-color: #ea80fc;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s;
}
#heading2 > div > a:hover {
  background-color: #ff8a65;
  color: white;
  transition: background-color 0.4s;
}

#cont5 > div > a:hover {
  background-color: #ff8a65;
  color: white;
  transition: background-color 0.5s;
}
#heading {
  background-color: #1976d2;
}
#heading1,
#heading2 {
  display: flex;
}
.bestbuyimg {
  background-color: #1976d2;
  width: 100%;
  margin: auto;
}
#bestbuyimg {
  background: #1976d2;
  width: 30%;
  height: 60px;
  margin: 5% 0 1% 12%;
}
#menu {
  margin: 2% 0 0 -13%;
  height: 30px;
  background: #1976d2;
  color: white;
  font-weight: 600;
  font-family: inherit;
  font-size: 22px;
}
#searchoption {
  display: flex;
  height: 30px;
  width: 35%;
  margin: 1.6% 0 0 3%;
  border-radius: 20px;
}
#inputdata {
  height: 100%;
  width: 93%;
  border-radius: 5px;
  font-weight: 600;
  font-family: inherit;
  font-size: inherit;
}
#searchableData {
  height: 35px;
  border-radius: 5px;
  width: 7%;
  background-color: white;
}
#aiea {
  margin: 1.5% 0 0 15%;
  height: 40px;
  background-color: #1976d2;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
#addtocart {
  margin: 23% 0 0 20%;
  height: 40px;
  margin-top: 30%;
  display: flex;
  background-color: #1976d2;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
#heading2 {
  display: flex;
  margin: 1% 0 0 3%;
  vertical-align: middle;
}
#heading2 > div:nth-child(1) {
  margin: 0 8% 0 0;
  display: flex;
  width: 60%;
}
#heading2 > div:nth-child(2) {
  display: flex;
  width: 30%;
}
.deals {
  background-color: #1976d2;
  margin-bottom: 1.5%;
  margin-right: 2%;
  font-weight: 500;
  margin-top: 0.1%;
  font-size: 14px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.account {
  background-color: #1976d2;
  margin-bottom: 2.5%;
  margin-right: 2%;
  font-size: 14px;
  margin-top: 0.5%;
  font-weight: 800;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#cont7 {
  gap: 2%;
  display: flex;
}
#cont7 > div {
  border: 0.6px solid #cfd8dc;
  width: 32%;
}
#cont7 > div > img {
  margin-top: 4%;
  margin-left: 9%;
}
#cont7 > div > h2 {
  margin-left: 5%;
}
#cont7 > div > p {
  margin-left: 5%;
}
#cont5 > div > img {
  width: 100%;
  height: 200px;
}
#cont5 > div > a {
  color: blue;
}
button {
  border: none;
}
#cont5 {
  display: flex;
  gap: 3%;
  width: 95%;
  margin-left: 2.5%;
}
#cont5 > div {
  flex-basis: 21%;
}
#cont6 {
  display: flex;
  width: 95%;
  margin-left: 2%;
}
#swapleft {
  margin-top: 130px;
  margin-right: 30px;
}
#swapright {
  margin-top: 130px;
  margin-left: 30px;
}
#cont8 {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
}
#cont9 {
  display: flex;
  background-color: #303f9f;
  gap: 2%;
}
#cont4 {
  display: flex;
  margin-top: 5%;
  gap: 2%;
}
#hii {
  font-size: 25px;
  font-weight: 900;
  margin-left: 2%;
}
#cont10 {
  display: flex;
  gap: 8%;
  color: blue;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #e1f5fe;
}
#usernames {
  margin-top: 2px;
  margin-left: -250px;
  font-size: large;
  font-weight: 700;
  color: #fbe9e7;
  display: flex;
  gap: 10px;
}
#user2 {
  color: white;
}
#onlineSearch {
  width: 503px;
  height: 100px;
  position: absolute;
  margin-left: 35.9%;
  margin-top: -22px;
  display: none;
  overflow: scroll;
  padding: 10px;
  background-color: #E1F5FE;
}